# Default values for todo-app
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 2

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80

service:
  type: ClusterIP


frontend:
  image:
    repository: todo-full-stack-frontend
    tag: latest
    pullPolicy: IfNotPresent
  port: 3000
  resources:
    limits:
      cpu: 200m
      memory: 256Mi
    requests:
      cpu: 100m
      memory: 128Mi

backend:
  image:
    repository: todo-full-stack-backend
    tag: latest
    pullPolicy: IfNotPresent
  port: 8000
  resources:
    limits:
      cpu: 200m
      memory: 256Mi
    requests:
      cpu: 100m
      memory: 128Mi

chatbot:
  enabled: false
  image:
    repository: todo-chatbot
    tag: latest
    pullPolicy: IfNotPresent
  port: 8001
  resources:
    limits:
      cpu: 200m
      memory: 256Mi
    requests:
      cpu: 100m
      memory: 128Mi

ingress:
  enabled: true
  className: ""
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
  hosts:
    - host: focusflow.local
      paths:
        - path: /
          pathType: Prefix
        - path: /api
          pathType: Prefix
        - path: /chat
          pathType: Prefix
  tls: []

serviceAccount:
  # Specifies whether a service account should be created
  create: false
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

podAnnotations: {}
podLabels: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

nodeSelector: {}

tolerations: []

affinity: {}

secrets:
  databaseUrl: ""
  geminiApiKey: ""
  jwtSecret: ""
  betterAuthSecret: ""
  googleClientId: ""
  googleClientSecret: ""
  accessTokenExpireMinutes: ""
  refreshTokenExpireDays: ""
  googleRedirectUri: ""